<div class="task-modal-container" *ngIf="task">
  <div class="task-modal-header">
    <app-inline-form
      class="task-modal-edit-title-form"
      [defaultText]="task.title"
      [title]="task.title"
      (handleSubmit)="UpdateTaskName($event)"
    ></app-inline-form>
    <img
      src="assets/close_icon.svg"
      class="task-modal-close"
      (click)="goToBoard()"
    />
  </div>
  <div class="task-modal-body">
    <div>
      <form [formGroup]="columForm" class="column-select-container">
        <select class="column-select" formControlName="columId">
          <option *ngFor="let colum of colums" [ngValue]="colum._id">
            {{ colum.title }}
          </option>
        </select>
      </form>
      <div class="task-modal-description">
        <div class="task-modal-description-label">Description</div>
        <app-inline-form
          class="task-modal-edit-description-form"
          [defaultText]="task.description || 'add amore detailed description'"
          [title]="task.description || ''"
          inputType="textarea"
          [hasButton]="true"
          buttonText="Save"
          (handleSubmit)="updateTaskDescription($event)"
        ></app-inline-form>
      </div>
    </div>
    <div class="task-modal-actions">
      <div class="task-modal-actions-label">actions</div>
      <div>
        <div class="task-modal-actions-action" (click)="deleteTask()">
          <img src="assets/trash.svg" class="task-modal-actions-icon" />
          Delete
        </div>
      </div>
    </div>
  </div>
</div>

<div class="task-modal-backdrop"></div>
